<html>
    <head>
        <title>Test handlebars</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="handlebars-v1.2.0.js"></script>
        <script id="entry-template" type="text/x-handlebars-template">
             <div class="entry">
                <h1>{{title}}</h1>
                <h4>{{#list people}}{{lastName}}, {{firstName}}{{/list}}</h4>
            <div class="body">
            {{body}}
            </div>
            </div>
        </script>
        <script type="text/javascript">
        var source = $("#entry-template").html();
        var context = {
            title: "My New Post", 
            people: [
                {firstName: "Yehuda", lastName: "Katz"},
                {firstName: "Carl", lastName: "Lerche"},
                {firstName: "Alan", lastName: "Johnson"}
              ],                    
            body: "This is my first post!"
        };

        Handlebars.registerHelper('list', function(items, options) {
            var out = "<ul>";

            for(var i = 0, l = items.length; i < l; i++) {
              out = out + "<li>" + options.fn(items[i]) + "</li>";
            }

            return out + "</ul>";
        });
        var template = Handlebars.compile(source);


        </script>
    </head>
    <body>
        <script type="text/javascript">
            $(function() {
                $("#pannel").html(template(context));
            });
        </script>
        <div id="pannel"></div>

    </body>
</html>