<!DOCTYPE HTML>
<!-- Website template by freewebsitetemplates.com -->
<html>
    <head>
        <meta charset="UTF-8">
        <title>Law Firm</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="handlebars-v1.2.0.js"></script>
        <script src="helpers.js"></script>
        <script id="template-navigation" type="text/x-handlebars-template">
            <div class="clearfix">
                <div class="logo">
                    <a href="index.html"><img src="images/logo.png" alt="LOGO" height="52" width="362"></a>
                </div>
                <ul class="navigation">
                {{#each navigation}}<li {{#if active}}class="active"{{/if}}><a href="{{url}}">{{title}}</a>
                    {{#if submenu}}{{#each submenu}}<div><a href="{{url}}">{{title}}</a></div>{{/each}}{{/if}}
                </li>{{/each}}            
                </ul> 
            </div>
        </script>
        <script id="template-featured"  type="text/x-handlebars-template">
                <h2>{{title}}</h2>
                <ul class="clearfix">
                    {{#each featured}}
                    <li>
                        <div class="frame1">
                            <div class="box">
                                <img src="{{imageUrl}}" alt="Img" height="130" width="197">
                            </div>
                        </div>
                        <p>
                            <b>{{title}}</b>{{text}}
                        </p>
                        <a href="{{url.href}}" class="more">{{url.text}}</a>
                    </li>
                    {{/each}}
                </ul>
            
        </script>
        <script type="text/javascript">
            var navigation = [
                {url:"index.html",title:"Home",active:true},
                {url:"about.html",title:"About"},
                {url:"practices.html",title:"Practices"},
                {url:"lawyers.html",title:"Our Lawyers"},
                {url:"news.html",title:"News",submenu:[{url:"singlepost.html",title:"News Single Post"}]},
                {url:"contact.html",title:"Contact"}
            ];
            
            var featured = {
                title : "Why Choose Us?",
                featured : [
                    {
                        imageUrl:"images/meeting.jpg",
                        title:"Our lawyers",
                        text:"Our website templates are created with inspiration, checked for quality and originality.",
                        url:{href:"index.html",text:"Read More"}
                    },
                    {
                        imageUrl:"images/handshake.jpg",
                        title:"get to know us more",
                        text:" Just browse through all our Free Website Templates and ﬁnd what you’re looking for.",
                        url:{href:"index.html",text:"Read More"}
                    },
                    {
                        imageUrl:"images/smile.jpg",
                        title:"what we offer",
                        text:"Join the discussion on our forum and meet other people in the community.",
                        url:{href:"index.html",text:"Read More"}
                    },
                    {
                        imageUrl:"images/family-small.jpg",
                        title:"get in touch with us",
                        text:"And we love the challenge of doing something diferent and something special.",
                        url:{href:"index.html",text:"Read More"}
                    },
                 ]
             };
            var page = {
                navigation:navigation,
                featured : featured
             };
        </script>
    </head>
    <body>
        <div id="header">
<!--            
            <div class="clearfix">
                <div class="logo">
                    <a href="index.html"><img src="images/logo.png" alt="LOGO" height="52" width="362"></a>
                </div>
                <ul class="navigation">
                    <li class="active">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="practices.html">Practices</a>
                    </li>
                    <li>
                        <a href="lawyers.html">Our Lawyers</a>
                    </li>
                    <li>
                        <a href="news.html">News</a>
                        <div>
                            <a href="singlepost.html">News Single Post</a>
                        </div>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
-->
        </div>
        <div id="contents">
            <div id="adbox">
                <div class="clearfix">
                    <img src="images/family-large.jpg" alt="Img" height="382" width="594">
                    <div class="detail">
                        <h1>It’s never easy...<br> When it comes to family.</h1>
                        <p>
                            But we can set<br> everything straight.
                        </p>
                    </div>
                </div>
            </div>
            <div class="highlight">
                <div class="clearfix">
                    <div class="testimonial">
                        <h2>Testimonials</h2>
                        <p>
                            &ldquo;Aenean ullamcorper purus vitae nisl tristique sollicitudin. Quisque vestibulum, erat ornare.&rdquo;
                        </p>
                        <span>-John Doe and Jane Doe-</span>
                    </div>
                    <h1>The Manes Winchester Promise</h1>
                    <p>
                        This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forums</a>.
                    </p>
                </div>
            </div>
            <div class="featured">
<!--                
                <h2>Why Choose Us?</h2>
                <ul class="clearfix">
                    <li>
                        <div class="frame1">
                            <div class="box">
                                <img src="images/meeting.jpg" alt="Img" height="130" width="197">
                            </div>
                        </div>
                        <p>
                            <b>Our lawyers</b> Our website templates are created with inspiration, checked for quality and originality.
                        </p>
                        <a href="index.html" class="more">Read More</a>
                    </li>
                    <li>
                        <div class="frame1">
                            <div class="box">
                                <img src="images/handshake.jpg" alt="Img" height="130" width="197">
                            </div>
                        </div>
                        <p>
                            <b>get to know us more</b> Just browse through all our Free Website Templates and ﬁnd what you’re looking for.
                        </p>
                        <a href="index.html" class="more">Read More</a>
                    </li>
                    <li>
                        <div class="frame1">
                            <div class="box">
                                <img src="images/smile.jpg" alt="Img" height="130" width="197">
                            </div>
                        </div>
                        <p>
                            <b>what we offer</b> Join the discussion on our forum and meet other people in the community.
                        </p>
                        <a href="index.html" class="more">Read More</a>
                    </li>
                    <li>
                        <div class="frame1">
                            <div class="box">
                                <img src="images/family-small.jpg" alt="Img" height="130" width="197">
                            </div>
                        </div>
                        <p>
                            <b>get in touch with us</b> And we love the challenge of doing something diferent and something special.
                        </p>
                        <a href="index.html" class="more">Read More</a>
                    </li>
                </ul>
            </div>
-->
        </div>
        <div id="footer">
            <div class="clearfix">
                <div class="section">
                    <h4>Latest News</h4>
                    <p>
                        This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link.
                    </p>
                </div>
                <div class="section contact">
                    <h4>Contact Us</h4>
                    <p>
                        <span>Address:</span> the address city, state 1111
                    </p>
                    <p>
                        <span>Phone:</span> (+20) 000 222 999
                    </p>
                    <p>
                        <span>Email:</span> info@freewebsitetemplates.com
                    </p>
                </div>
                <div class="section">
                    <h4>SEND US A MESSAGE</h4>
                    <p>
                        If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
                    </p>
                    <a href="http://www.freewebsitetemplates.com/misc/contact/" class="subscribe">Click to send us an email</a>
                </div>
            </div>
            <div id="footnote">
                <div class="clearfix">
                    <div class="connect">
                        <a href="http://freewebsitetemplates.com/go/facebook/" class="facebook"></a><a href="http://freewebsitetemplates.com/go/twitter/" class="twitter"></a><a href="http://freewebsitetemplates.com/go/googleplus/" class="googleplus"></a><a href="http://pinterest.com/fwtemplates/" class="pinterest"></a>
                    </div>
                    <p>
                        © Copyright 2023 Manes Winchester. All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function(){
                var navigation = Handlebars.compile($("#template-navigation").html());
                $("#header").html(navigation(page));
                var featured = Handlebars.compile($("#template-featured").html());
                $(".featured").html(featured(page.featured));
            });
        </script>
    </body>
</html>